body {
  background-color: burlywood;
  padding: 0;
  margin: 0;
  text-align: center;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navigation {
  background-color: cadetblue;
  display: flex;
}

.nav-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item a {
  margin: 1em;
  display: block;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-item a:hover {
  color: aliceblue;
  background-color: burlywood;
}

footer {
  width: 100%;
  color: aliceblue;
  background-color: cadetblue;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
}

.wilds {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.wilds img {
  height: 250px;
  margin: 50px;
}

.fuzzies {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.fuzzies img {
  height: 250px;
  margin: 50px;
}